<div class="container-fluid">
  <div class="row mx-auto ">
    <div>
      <form #newTraining="ngForm" (ngSubmit)="onStartTraining(newTraining)">
        <mat-card class="col-10 col-md-6 mx-auto mt-4 text-center">
          <mat-card-title>
            Time to start workout!
          </mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>Favorite food</mat-label>
              <mat-select ngModel name="exercise" required>
                <mat-option *ngFor="let exercises of exercises" [value]="exercises.id">
                  {{exercises.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!newTraining.valid">Start</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
